In [7]:
import numpy as np
import pandas as pd

In [8]:
data = pd.read_csv('aaa3.csv')

In [9]:
data

            a ;а
0         ai ;ай
1         an ;ан
2       ang ;анъ
3         ao ;ао
4         ba ;ба
..           ...
401      zu ;дзу
402  zuan ;дзуан
403    zui ;дзуй
404    zun ;дзун
405    zuo ;дзуо

[406 rows x 1 columns]